* {
  outline: none; }

html, body {
  background-color: #151515;
  color: #EEEEEE;
  font-family: Verdana, Arial, sans-serif;
  height: 100%;
  margin: 0px; }

main, section, .view {
  height: 100%;
  overflow: auto; }

.hidden {
  display: none; }

.pane {
  box-sizing: border-box;
  float: left;
  height: 100%; }

.pane-row {
  height: auto; }

.pane-row-2 {
  height: 20%; }

.pane-row-4 {
  height: 40%; }

.pane-row-6 {
  height: 60%; }

.pane-row-8 {
  height: 80%; }

.pane-row-10 {
  height: 100%; }

.pane-column-1 {
  width: 10%; }

.pane-column-2 {
  width: 20%; }

.pane-column-3 {
  width: 30%; }

.pane-column-4 {
  width: 40%; }

.pane-column-5 {
  width: 50%; }

.pane-column-6 {
  width: 60%; }

.pane-column-7 {
  width: 70%; }

.pane-column-8 {
  width: 80%; }

.pane-column-9 {
  width: 90%; }

.pane-column-10 {
  width: 100%; }

.code-pane {
  border-right: solid 4px #1C1C1C;
  position: relative; }
  .code-pane:last-child {
    border-right: 0; }
  .code-pane .code-tabs {
    height: 40px;
    position: relative;
    width: 100%;
    background-color: #1C1C1C;
    overflow: visible; }
    .code-pane .code-tabs .code-tab {
      box-sizing: border-box;
      border-bottom: solid 4px #333333;
      color: #DDDDDD;
      display: inline-block;
      font-size: 0.75em;
      height: 40px;
      line-height: 40px;
      min-width: 75px;
      max-width: 150px;
      padding: 0px 5px; }
      .code-pane .code-tabs .code-tab.tab-active {
        border-color: #006CB5; }
  .code-pane .code-body {
    box-sizing: border-box;
    background-color: #252525;
    box-sizing: border-box;
    margin-top: -40px;
    padding-top: 40px;
    height: 100%; }
    .code-pane .code-body pre {
      height: 100%;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-right: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important; }

.button {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #EEEEEE; }
  .button i {
    margin-left: 5px; }

.button-red {
  background-color: #D14836; }
  .button-red:hover {
    background-color: #EEEEEE; }

.button-green {
  background-color: #47A100; }
  .button-green:hover {
    background-color: #53BB00; }

.button-blue {
  background-color: #0060A1; }
  .button-blue:hover {
    background-color: #006CB5; }

.button-outline {
  background-color: transparent;
  border: solid 2px #AAAAAA;
  color: #DDDDDD; }
  .button-outline:hover {
    border-color: #888888; }

.button-blank {
  background-color: transparent;
  border: 0;
  color: #DDDDDD;
  box-shadow: none; }
  .button-blank:hover {
    background-color: rgba(0, 0, 0, 0.33); }

.button-left {
  float: left; }

.button-right {
  float: right; }

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel/Cinzel-Regular.ttf); }
.login {
  width: 300px;
  margin: 25px auto; }
  .login input {
    background-color: transparent;
    border-bottom-color: #333333;
    color: #EEEEEE;
    width: 250px; }
  .login .button {
    margin: 25px 0px 10px 0px; }

form {
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: auto;
  padding: 25px;
  text-align: center; }
  form input {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #333333;
    border-radius: 2px;
    display: block;
    padding: 10px; }
    form input:focus {
      border-bottom: solid 2px #006CB5; }
  form .button {
    margin: 25px 0px 10px 0px; }

.form-dark {
  background-color: #252525; }

i {
  font-size: 0.75em; }

::-webkit-scrollbar {
  background-color: transparent;
  opacity: 0; }
  ::-webkit-scrollbar:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1); }
  ::-webkit-scrollbar:horizontal {
    height: 8px; }
  ::-webkit-scrollbar:vertical {
    width: 8px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3); }

::-webkit-scrollbar-corner {
  background-color: #252525; }

.view-entry {
  width: 600px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .view-entry h1 {
    font-family: Cinzel, sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin: 0px; }
  .view-entry h2 {
    font-family: Cinzel, sans-serif;
    font-size: 1em;
    color: #888;
    margin-top: 0px; }
  .view-entry header {
    text-align: center; }
  .view-entry footer {
    text-align: center;
    color: #555555;
    font-size: 0.75em; }

.workspace {
  box-sizing: border-box;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 25px; }

.menu {
  box-sizing: border-box;
  height: 50px;
  left: 0;
  line-height: 50px;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 100%; }
  .menu .logo {
    font-family: Cinzel, sans-serif;
    font-size: 1.25em; }
  .menu .menu-left {
    float: left; }
  .menu .menu-right {
    float: right; }
  .menu a {
    color: #EEEEEE; }

.status-bar {
  bottom: 0;
  color: #555555;
  font-size: 0.75em;
  height: 25px;
  left: 0;
  line-height: 25px;
  margin: 0px 5px;
  position: fixed;
  width: 100%; }

.tree-view {
  background-color: #1C1C1C;
  font-size: 0.75em; }
  .tree-view i {
    margin-right: 5px; }
  .tree-view .bs-file > a {
    color: #DDDDDD; }
  .tree-view .bs-directory > a {
    color: gold; }
    .tree-view .bs-directory > a span {
      font-weight: bold; }
  .tree-view span {
    color: #AAAAAA; }
  .tree-view ul {
    list-style-type: none;
    padding-left: 5px;
    margin: 5px 0px; }
    .tree-view ul a {
      text-decoration: none; }
      .tree-view ul a:hover span {
        color: #EEEEEE; }
    .tree-view ul ul {
      padding-left: 10px; }

.annotations {
  background-color: #1C1C1C; }

/*# sourceMappingURL=main.css.map */
