@import '../settings';

@mixin button($background: transparent, $hover-background: transparent) {
    background-color: $background;
    border-radius: 2px;
    box-shadow: $card-shadow;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: $colour-main-text;

    &:hover {
      background-color: $hover-background;
    }

    i {
      margin-left: 5px;
    }
}

@mixin button-outline {
  background-color: transparent;
  border: solid 2px $colour-light-grey;
  color: $colour-main-text-alt;

  &:hover {
    border-color: $colour-button-outline;
  }
}

@mixin button-blank {
  background-color: transparent;
  border: 0;
  color: $colour-main-text-alt;
  box-shadow: none;

  &:hover {
    background-color: $bg-a-33;
  }
}

@mixin button-left {
  float: left;
}

@mixin button-right {
  float: right;
}
