@import '../settings';

@mixin pane {
  box-sizing: border-box;
  float: left;
  height: 100%;
}

@mixin pane-row($height: auto) {
  height: $height;
}

@mixin pane-column($width) {
  width: $width;
}

@mixin code-pane {
  border-right: solid 4px $colour-v-dark-grey;
  position: relative;

  &:last-child {
    border-right: 0;
  }

  .code-tabs {
    height: $code-tab-height;
    position: relative;
    width: 100%;
    background-color: $colour-v-dark-grey;
    overflow: visible;

    .code-tab {
      box-sizing: border-box;
      border-bottom: solid $tab-border-height $colour-dark-grey;
      color: $colour-main-text-alt;
      display: inline-block;
      font-size: $text-size-smaller;
      height: $code-tab-height;
      line-height: $code-tab-height - $tab-border-height;
      width: 150px;
      padding: 0px 10px;
      text-decoration: none;

      &.tab-active {
        background-color: $colour-m-dark-grey;
        border-color: $colour-light-blue;
        i {
          color: $colour-button-outline;
          &:hover {
            color: $colour-light-grey;
          }
        }
      }
      span {
        overflow: ellipsis;
      }
      i {
        line-height: $code-tab-height - 4;
        float: right;
        color: $colour-dark-grey;
        &:hover {
          cursor: pointer;
          color: $colour-button-outline;
        }
      }
    }
  }
  .code-bodies {
    background-color: $colour-card-bg;
    box-sizing: border-box;
    height: 100%;
    margin-top: -$code-tab-height;
    padding-top: $code-tab-height;
  }
  .code-body {
    height: 100%;
    // overflow-y: scroll;

    pre {
      height: 100%;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-right: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}
