/* login */

/* general classes */

/*form.login {
  width: 300px;
  margin: 25px auto;*/
  /*padding: 25px;*/
  /*background-color: #252525;*/
  /*border-radius: 2px;*/
  /*box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);*/
  /*overflow: auto;*/
  /*text-align: center;*/
/*}*/

/*.login input {
  display: block;
  width: 250px;
  margin: 5px auto;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  color: #EEEEEE;
  border-bottom: solid 2px #333;
  background-color: transparent;

}

  .login input:focus {
      border-bottom-color: #006CB5;
  }

.login a.button {
  margin: 25px 0px 10px 0px;
}*/
