@import '../settings';

* {
  outline: none;
}

html, body {
  background-color: $colour-main-bg;
  font-family: $font-stack;
  color: $colour-main-text;
}

main, section {
  overflow: auto;
}

.hidden {
  display: none;
}
